<html>
  {% extends "peliculas/base.html" %}
  {% load static %}
  
  {% block content1 %}
  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'proyectowebapp/img/hero-img.jpg'%}" alt="">
        <div class="intro-text left-0 text-center bg-faded text-white p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Peliculas</span>
            <span class="section-heading-lower">HD</span>
          </h2>
          <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada cursus molestie. Nulla hendrerit ex ut nisl pulvinar rhoncus. Sed
          </p>
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="peliculas/">Peliculas</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  

  {% endblock content1 %}



</html>